<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改分类</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <link th:href="@{/css/bootstrap-4.6.1.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form action="alter" method="POST">
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">分类编号：</div>
            </div>
            <input th:value="${category.cate_id}" name="cate_id" type="text" class="form-control" placeholder="请输入分类名称" readonly
                />
        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">分类名称：</div>
            </div>
            <input th:value="${category.cate_name}" name="cate_name" type="text" class="form-control" placeholder="请输入分类名称"
                   />
        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">分类排序：</div>
            </div>
            <input th:value="${category.cate_sort}" name="cate_sort" type="text" class="form-control" placeholder="请输入分类排序"
                   />
        </div>
        <div class="input-group my-2">
            <div class="input-group-append">
                <div class="input-group-text">父级分类：</div>
            </div>
            <select class="form-control" name="cate_parentid">
                <option value="">顶级分类</option>
                <option value="父级分类id" th:each="parent:${parents}" th:text="${parent.cate_name}" th:value="${parent.cate_id}" th:selected="${parent.cate_id}==${category.cate_parentid}">父级分类名字</option>
            </select>
        </div>

        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">商品品牌：</div>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-success btn-brand-add"> + </button>
            </div>
        </div>
        <div class="my-2 row brand-group">
            <div class="col-3 brand my-2" th:each="brandS:${category.brands}">
                <div class="input-group">
                    <select th:name="'brands['+${brandSStat.index}+'].brand_id'" class="form-control brand-control">
                        <option >品牌名称</option>
                        <option th:each="brand:${brands}" th:value="${brand.brand_id}" th:text="${brand.brand_name}" th:selected="${brandS.brand_id}==${brand.brand_id}" >品牌名称</option>

                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger btn-brand-dis"> - </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">商品属性：</div>
            </div>
            <div class="input-group-append">
                <button type="button" class="btn btn-success btn-key-add"> + </button>
            </div>
        </div>
        <div class="my-2 row key-group">
            <div class="col-3 key my-2" th:each="keyS:${category.spuAttrKeys}">
                <div class="input-group">
                    <select th:name="'keys['+${keySStat.index}+'].key_id'" class="form-control key-control">
                        <option >属性名称</option>
                        <option th:selected="${keyS.key_id}==${key.key_id}" th:each="key:${keys}" th:text="${key.key_name}" th:value="${key.key_id}"></option>
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger btn-key-dis"> - </button>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> 保存设置 </button>
    </form>
</div>

<script>
$(document).ready(()=>{

    // 重排 品牌 name
    function reloadBrandName(){
        $(".brand-control").each(function(index,dom){
            $(this).prop("name","brands["+index+"].brand_id")
        })
    }
    function reloadKeyName(){
        $(".key-control").each(function(index,dom){
            $(this).prop("name","keys["+index+"].key_id")
        })
    }
    // 删除角色
    $(".btn-brand-dis").click(function(){
        // 判断是否只剩下最后一个角色
        if( $(".brand").length > 1 ){
            // 剩下不止一个角色 可以删除角色
            $(this).parents(".brand").remove()
            // 重新排列角色下拉列表的name
            reloadBrandName()
        }
    })
    $(".btn-key-dis").click(function(){
        // 判断是否只剩下最后一个角色
        if( $(".key").length > 1 ){
            // 剩下不止一个角色 可以删除角色
            $(this).parents(".key").remove()
            // 重新排列角色下拉列表的name
            reloadKeyName()
        }
    })
    // 添加角色
    $(".btn-key-add").click(function(){
        // 克隆 一份 角色
        let clone = $(".key").last().clone(true)
        // 将 克隆的 角色 追加到 角色列表
        clone.appendTo( $(".key-group") )
        // 重新排列角色下拉列表的name
        reloadKeyName()
    })
    $(".btn-brand-add").click(function(){
        // 克隆 一份 角色
        let clone = $(".brand").last().clone(true)
        // 将 克隆的 角色 追加到 角色列表
        clone.appendTo( $(".brand-group") )
        // 重新排列角色下拉列表的name
        reloadBrandName()
    })

})


</script>

</body>
</html>