<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aouf.mallmanagement.mapper.AdminMapper">
    <resultMap id="adminMap" type="Admin">
        <id property="admin_id" column="admin_id" />
        <result property="admin_name" column="admin_name"/>
        <result property="admin_pass" column="admin_pass"/>
        <result property="admin_nickname" column="admin_nickname"/>
        <collection property="roles" ofType="Role">
            <id property="role_id" column="role_id"/>
            <result property="role_name" column="role_name"/>
        </collection>
        <collection property="menus" ofType="Menu">
            <id property="menu_id" column="menu_id"/>
            <result property="menu_name" column="menu_name"/>
            <result property="menu_url" column="menu_url"/>
            <result property="pid" column="pid"/>
        </collection>
    </resultMap>
    <select id="getAdminsByBo" resultMap="adminMap">
        <bind name="index" value="(page-1) * pageSize"/>
        select *
        from admin a left join admin_role ar on a.admin_id = ar.admin_id left join role r on ar.role_id = r.role_id
        <where>
            <if test="admin_id != null">
               and a.admin_id = #{admin_id}
            </if>
            <if test="admin_name != null and admin_name.length != 0">
                and a.admin_name like "%"#{admin_name}"%"
            </if>
            <if test="admin_nickname != null and admin_nickname.length != 0">
                and a.admin_nickname like "%"#{admin_nickname}"%"
            </if>
            <if test="role_id != null and role_id != -1">
                and ar.role_id  = #{role_id}
            </if>
        </where>
        limit #{index},#{pageSize}
    </select>

    <select id="getAdminsByBoCount" resultType="int">
        select count(1) from (
        select a.admin_id
        from admin a left join admin_role ar on a.admin_id = ar.admin_id left join role r on ar.role_id = r.role_id
        <where>
            <if test="admin_id != null">
                and a.admin_id = #{admin_id}
            </if>
            <if test="admin_name != null and admin_name.length != 0">
                and a.admin_name like "%"#{admin_name}"%"
            </if>
            <if test="admin_nickname != null and admin_nickname.length != 0">
                and a.admin_nickname like "%"#{admin_nickname}"%"
            </if>
            <if test="role_id != null and role_id != -1">
                and ar.role_id  = #{role_id}
            </if>
        </where>
        ) t
    </select>

    <select id="getAdminByIdOrName" resultMap="adminMap">
        select *
        from admin a
        left join admin_role ar on a.admin_id = ar.admin_id left join role r on ar.role_id = r.role_id
        left join role_permission rp on r.role_id = rp.role_id left join permission_menu pm on pm.permission_id = rp.permission_id
        left join menu m on pm.menu_id = m.menu_id

        <where>
            <if test="admin_id!=null and admin_id.length>0">
                admin_id = #{admin_id}
            </if>
            <if test="admin_name!=null and admin_name.length>0">
                or admin_name = #{admin_name}
            </if>
        </where>
    </select>

<!--    将新增的id赋值-->
    <insert id="add" keyProperty="admin_id" useGeneratedKeys="true">
        INSERT INTO admin
        (admin_name,admin_pass,admin_nickname)
        VALUES(#{admin_name},
            #{admin_pass},
            #{admin_nickname})
    </insert>

    <update id="update">
        update admin set admin_name = #{admin_name},admin_nickname = #{admin_nickname} where admin_id = #{admin_id}
    </update>

    <delete id="delete">
        DELETE FROM admin where
            <foreach collection="ids" open="admin_id in (" separator="," close=")"  item="id">
                #{id}
            </foreach>
    </delete>
</mapper>