<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aouf.mallmanagement.mapper.SpuAttrKeyMapper">
    <update id="updateSpuAttrKey">
        update spu_attr_key set key_name = #{key_name},key_issku=#{key_issku},key_ishigh=#{key_ishigh},updatetime=#{updatetime}
    </update>
    <select id="getAllKey" resultType="spuAttrKey">
        select * from spu_attr_key
    </select>
    <select id="getFilterAll" resultType="SpuAttrKey">
        select *
        from spu_attr_key sak
        where key_issku =0

    </select>

    <insert id="multiAddCateAttr">
        INSERT INTO spu_attr_key_categories
        (spu_attr_key_id, category_id)
        VALUES
        <foreach collection="addCategoryBo.spuAttrKeyList" item="attrKey" separator=",">
            (#{attrKey.key_id},#{addCategoryBo.cate_id})
        </foreach>

    </insert>
    <insert id="addSpuAttrKey">
        insert into spu_attr_key (key_id,key_name,key_issku,key_ishigh,createtime)
        values (#{key_id},#{key_name},#{key_issku},#{key_ishigh},#{createtime})
    </insert>


    <select id="getListByCate" resultType="SpuAttrKey">
        select spu_attr_key_id as key_id,category_id,id from spu_attr_key_categories
        where category_id = #{cate_id}
    </select>


    <delete id="delCateAttrKey">
        delete from spu_attr_key_categories
        where category_id = #{cate_id}
    </delete>

    <delete id="multiDelAttrKey">
        delete from spu_attr_key_categories
        where category_id in
        <foreach collection="id_list" separator="," item="id" open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from spu_attr_key sak
        <where>
            <if test="searchSpuAttrKeyBo.key_id != null and searchSpuAttrKeyBo.key_id.length>0 ">
                key_id =#{searchSpuAttrKeyBo.key_id}
            </if>
            <if test="searchSpuAttrKeyBo.key_name != null and searchSpuAttrKeyBo.key_name.length>0 ">
                and key_name like '%${searchSpuAttrKeyBo.key_name}%'
            </if>
            <if test="searchSpuAttrKeyBo.key_issku != null and searchSpuAttrKeyBo.key_issku != -1">
                and key_issku =#{searchSpuAttrKeyBo.key_issku}
            </if>
            <if test="searchSpuAttrKeyBo.key_ishigh != null and searchSpuAttrKeyBo.key_ishigh != -1">
                and key_ishigh =#{searchSpuAttrKeyBo.key_ishigh}
            </if>
        </where>
    </select>

    <select id="getList" resultType="SpuAttrKey">
        select *
        from spu_attr_key sak
        <where>
            <if test="searchSpuAttrKeyBo.key_id != null and searchSpuAttrKeyBo.key_id.length>0 ">
                key_id =#{searchSpuAttrKeyBo.key_id}
            </if>
            <if test="searchSpuAttrKeyBo.key_name != null and searchSpuAttrKeyBo.key_name.length>0 ">
                and key_name like '%${searchSpuAttrKeyBo.key_name}%'
            </if>
            <if test="searchSpuAttrKeyBo.key_issku != null and searchSpuAttrKeyBo.key_issku != -1">
                and key_issku =#{searchSpuAttrKeyBo.key_issku}
            </if>
            <if test="searchSpuAttrKeyBo.key_ishigh != null and searchSpuAttrKeyBo.key_ishigh != -1">
                and key_ishigh =#{searchSpuAttrKeyBo.key_ishigh}
            </if>
        </where>
    </select>

    <select id="getFiltersBySpuId" resultType="AttributeVo">
        select savs.*,v.value_name ,v.value_attr_key_id ,k.key_id,k.key_name,key_issku,v.id as value_id
        from (
                 select savs.*
                 from spu_attr_value_spus savs
                 where savs.spu_id =#{spu_id}
             )savs inner join spu_attr_value v on savs.spu_attr_value_id=v.id
                   inner  join spu_attr_key k on v.value_attr_key_id=k.key_id
        where key_issku=0
    </select>


    <select id="getSkusBySpuId" resultType="AttributeVo">
        select savs.*,v.value_name ,v.value_attr_key_id ,k.key_id,k.key_name,key_issku,v.id as value_id
        from (
                 select savs.*
                 from spu_attr_value_spus savs
                 where savs.spu_id =#{spu_id}
             )savs inner join spu_attr_value v on savs.spu_attr_value_id=v.id
                   inner  join spu_attr_key k on v.value_attr_key_id=k.key_id
        where key_issku=1
    </select>

    <select id="getSkuAll" resultType="SpuAttrKey">
        select *
        from spu_attr_key sak
        where key_issku =1

    </select>
    <resultMap id="spuAttrKeyMap" type="spuAttrKey">
        <id column="key_id" property="key_id"/>
        <result column="key_name" property="key_name"/>
        <result column="key_issku" property="key_issku"/>
        <result column="key_ishigh" property="key_ishigh"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <collection property="spuAttrValueList" ofType="spuAttrValue">
            <id column="id" property="id"/>
            <result column="value_name" property="value_name"/>
            <result column="createtime" property="createtime"/>
            <result column="updatetime" property="updatetime"/>
            <result column="value_attr_key_id" property="value_attr_key_id"/>
        </collection>
    </resultMap>
    <select id="getOne" resultMap="spuAttrKeyMap">
        select * from
        spu_attr_key sak
        left join spu_attr_value sav on sak.key_id = sav.value_attr_key_id
        where sak.key_id = #{key_id}
    </select>
</mapper>